body{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	line-height: 1.6em;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#navbar{
	margin-top: 8px;
}
#navbar a{
	display: inline;
	text-decoration: none;
	color: black;
	font-size: 24px;
}

#main-section{
	text-align: center;
	margin-bottom: 20px;
}

#main-section img{
	width: 150px;
	height: 150px;
}

#main-section a img{
	width: 40px;
	height: 40px;
}